
<section class="confidence-pdp-icons">

  <div class="confidence-pdp-icons__item">
    <div class="confidence-pdp-icons__icon">
      <img
        src="https://cdn11.bigcommerce.com/s-r6m0gsfal/images/stencil/original/image-manager/express-delivery.png?t=1773507138"
        alt="Express delivery truck icon"
      />
    </div>
    <p class="confidence-pdp-icons__title">FREE Delivery<br>at $99</p>
  </div>

  <div class="confidence-pdp-icons__item">
    <div class="confidence-pdp-icons__icon">
      <img
        src="https://cdn11.bigcommerce.com/s-r6m0gsfal/images/stencil/original/image-manager/no-fee.png?t=1773507138"
        alt="Handshake icon representing no restocking fees"
      />
    </div>
    <p class="confidence-pdp-icons__title">Easy to Work With</p>
    <p class="confidence-pdp-icons__desc">No Restocking Fees</p>
  </div>

  <div class="confidence-pdp-icons__item">
    <div class="confidence-pdp-icons__icon">
      <img
        src="https://cdn11.bigcommerce.com/s-r6m0gsfal/images/stencil/original/image-manager/flag.png?t=1773507137"
        alt="USA flag house icon representing small business support"
      />
    </div>
    <p class="confidence-pdp-icons__title">Support U.S. Small Business</p>
    <p class="confidence-pdp-icons__desc">Family Owned in VT Since 1970</p>
  </div>

</section>